{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}

CURSOS

{% endblock  %}


{% block descripcion %}
                    
Permite acceder a los diferentes cursos del instituto.

<form action="/AppCoder/buscar_camadas/" method="GET"> <!--empieza el sistema de búsqueda de acuerdo al número de camada-->
<input type="number" name="camada" id="camada">
<input type="submit" value="Buscar">
</form>
<h4>Estamos buscando las camada que contienen: {{camada}}</h4> <!--imprime los resultados de la búsqueda de la camada.-->
{% for Curso in cursos %}
    <h5>
        Curso: {{Curso.nombre}} --- Camada: {{Curso.camada}}
    </h5>
{% endfor %}

{% endblock descripcion %}

{% block botones %}

<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Inicio' %}">Inicio</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Profesores' %}">Profesores</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="">Cursos</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Estudiantes' %}">Estudiantes</a></li>

{% endblock botones %}

{% block descpagina %}

<div class="col-lg-4 ms-auto"><p class="lead">En esta página se pueden cargar y revisar los cursos que hay en el instituto.</p></div>
<div class="col-lg-4 me-auto"><p class="lead">Usando los botones se puede acceder a las funcionalidades de la página.</p></div>

{% endblock descpagina %}

{% block formulario %}

        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Carga de Cursos</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">

                        <form action="" method="POST"> {% csrf_token %}
                            <div class="form-floating mb-3">
                                <table>
                                    {{formu.as_table}} <!--formu es el nombre que devuelve el formulario vacío en VIEWS.
                                    .as_table se pone para que dibuje el formulario directamente de acuerdo a lo que
                                    tenemos en FORMS-->
                                </table>
                                </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">¡Hubo un error! No se pudo cargar el curso.</div></div>
                            <!-- Submit Button-->
                            <input type="submit" value="Confirmar" class="btn btn-primary btn-l">
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock formulario %}